<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <div id="active" class="jumbotron">
        <ul id="m">
            
        </ul>
        <input type="text" id="username">
        <input type="text" id="messege">
         
        <button type="submit" id="btn">Submit</button>

    </div>


    <script>
        function sendMessage(){
            soc.emit("messege",{
                    username: String($("#username").val()),
                    messege: String($("#messege").val())
                });
                $("#messege").val("");            
        }



        var soc = io();

        
        
        soc.on("connect", function(){
            console.log("User connected");
            
        });


        soc.on("messege", function(msg){
            
            
            if (msg.messege != "" && msg.username != ""){
                $("#m").append("<li>"+ msg.username + " : "+msg.messege+"</li>");
            }
            
        });

        $("#messege").keypress(function(e){
            
            if(e.keyCode == 13) {
                sendMessage();
                }                
            })

        $("#btn").click(function(){
            sendMessage();
        });


        
    </script>
    
</body>
</html>