<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"
        integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>

    <!--
    <div id="room_1" class="jumbotron" style="width:48%;height:auto;float:left">
        <b>Programming</b>
        <ul id="m_1">
            
        </ul>
        <input type="text" id="username_1">
        <input type="text" id="messege_1">
         
        <button type="submit" id="btn">Submit</button>

    </div>
    <div id="room_2" class="jumbotron" style="width:48%;height:auto;float:left">
        <b>Gaming</b>
        <ul id="m_2">
            
        </ul>
        <input type="text" id="username_2">
        <input type="text" id="messege_2">
         
        <button type="submit" id="btn">Submit</button>

    </div>

    -->
    <div id="main" class="jumbotron">
        <input type="text" id="username" placeholder="Enter your name">
        <button id="button">Submit</button>
        <input id='room_name' type="text" placeholder='Enter room name' hidden>
        <button id='button_2' hidden>Submit</button>
        <ul id="m">
            
        </ul>

        

        <input id='messege' type="text" placeholder='Enter your messege here...' hidden>
        <button id='button_3' hidden>Submit</button>
    </div>

    <script>

        $(document).ready(function() {
        function client_notification(username, room) {
            soc.emit("join", {
                "username": username,
                "channel": room
            });
        }

        function sendMessage(){
            soc.emit("messege",{
                    username: window.username,
                    room: window.room,
                    messege: String($("#messege").val())
                });
                $("#messege").val("");            
        }

        var soc = io("http://localhost:80/");
        soc.on("connect", function () {
            console.log("Connected to Server");
        });
        $("#button").click(function () {
            window.username = $("#username").val();
            
            $("#username").prop("readonly", true);
            $("#button").hide("slow");
            $("#room_name").prop('hidden', false);
            $("#button_2").prop('hidden', false);
            
        });
        $("#button_2").click(function () {
            window.room = $("#room_name").val();

            $("#username").hide("slow");
            $("#button").hide("slow");
            $("#room_name").hide("slow");
            $("#button_2").hide("slow");
            $("#messege").prop("hidden", false);
            $("#button_3").prop("hidden", false);
            
            client_notification(window.username, window.room);
        });
        $("#button_3").click(function(){
            sendMessage();
        });




        soc.on("broadcast_messege", function (msg) {
            ;
            $("#m").append(msg.username + " joined room " + msg.room + "<br>");
        });

        soc.on("messege", function(msg){
            
            
            if (msg.messege != ""){
                $("#m").append("<li>"+ msg.username + " : "+msg.messege+"</li>");
            }
            
        });

    })

    </script>

</body>

</html>